@media screen and (max-width: 980px) {
    nav {
        margin-right: 60px;
    }
    #masthead {
        margin-left: -10px;
        padding: 0 10px;
    }

    .main-section {
        width: 70%;
    }
    #main-container {
        padding-left: 5%;
    }
}

@media screen and (max-width: 768px) {
    .main-section {
        width: 100%;
    }
    #main-container {
        padding-left: 0;
    }
}

@media screen and (max-width: 640px) {
    #logo {
        display: block;
        width: 100%;
    }
    nav {
        float: none;
        margin-left: 23%;
    }
    #masthead {
        margin-top: -35px;
        padding: 0;
    }
}