@media screen and (max-width: 980px) {
    nav {
        margin-right: 60px;
    }
    #masthead {
        margin-left: -10px;
        padding: 0 10px;
    }

    .main-section {
        width: 70%;
    }
    #main-container {
        padding-left: 5%;
    }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 640x) {

}